body {
    margin: 0;
}

#content {
    height: 100vh;
}

#palette,
#diagram {
    display: inline-block;
}

#palette {
    width: 20%;
    height: 99%;
    border-right: 1px solid red;
}

#diagram {
    width: 79%;
    height: 99%;
}
